.blogContainer{
    margin: 0;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../img/questions.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .formBox{
    background-color: rgba(251, 251, 251, 0.513);
    width: 50%;
    height: 60%;
    margin: 150px auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
  }
  
  .subject{
    width: 79.5%;
    margin:1em;
    height: 40px;
    border-color: transparent;
    
  }
  .queryBox{
    width: 80%;
    margin: 1em;
    height: 300px;
    border-color: transparent;
    padding-top: 2px;
  }
  .twoBoxes{
    margin-left: 15%;
  }
  .submitBtn,.cancelBtn{
    width: 85px;
    height: 50px;
    border: transparent;
    margin-right: 2px;
    margin: 2px;
    background-color: rgb(0, 208, 255);
    
    
  }
  .submitBtn:hover, .cancelBtn:hover{
    background-color: rgb(120, 0, 120);
  }

  .bothBtns{
    width: 17%;
    margin: 0 auto;
  }