.links
{
    background-color: rgb(235, 235, 235); 
    padding: 2%;  
    color: black;
    text-decoration: none;
    font-size: large;
    margin-top: 3%;
    text-align: center;
}

#link_chatbot{
    float: right;
    margin-right: 5%;
}

#link_dashboard{
    float: right;
    margin-right: 3%;
}

#link_prev_queries{
    float: right;
    margin-right: 5%;
}

#home_profile{
    background-color:rgb(235, 235, 235);
    padding: 3%;
    width: fit-content;
    margin-left: 3%;
    margin-top: 3%;
    float: left;
}

#home_profile h4{
    margin-bottom: 0%;
}
#home_profile h2{
    margin-top: 0%;
}

Button,#edit_det_btn{
    background-color: #49C8FF;
    color: white;
    border: none;
    padding: 3%; 
    text-decoration: none;   
}

Button:hover, #edit_det_btn:hover{
    background-color: rgb(120, 0, 120);  
}

#prev_queries_tbl, th, td {
    border: 1px solid;
    padding: 0.5%;
    text-align: left;
}

#prev_queries_tbl
{
    width: 100%;
}
 
#prev_queries_tbl th{
    background-color: #49C8FF;
}

